<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Page Title</title>
  <link rel="stylesheet" href="css/vendors.css" />
  <link rel="stylesheet" href="css/styles.css" />

  <!-- Favicons -->

  <!-- End of Favicons -->
</head>

<body>
  <script>
    document.querySelector('body').classList.add('js');
  </script>

  <div class="preloader">
    Preloader
  </div>

  <div class="page-wrapper">
    <header class="page-header">
      <div class="page-header__inner">
        <div class="page-header__logo">
          LOGO
        </div>

        <button class="hamburger-btn" type="button">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </button>

        <nav class="main-nav">
          <ul class="main-nav__list">
            <li><a href="#">Menu Link 1</a></li>
            <li><a href="#">Menu Link 2</a></li>
            <li><a href="#">Menu Link 3</a></li>
            <li><a href="#">Menu Link 4</a></li>
            <li><a href="#">Menu Link 5</a></li>
          </ul>
        </nav>
      </div>
    </header>