.page-header {
  height: 100px;
  position: relative;

  &__inner {
    height: inherit;
    background-color: #d8d8d8;
    padding: 0 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.sticky &__inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    animation: header-appear .5s ease forwards;
  }
}

@keyframes header-appear {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
