h1 {
  font-size: 47px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  margin: 0;

  @include xl {
    font-size: 57px;
  }

  strong {
    font: inherit;
    color: $accent;
  }
}

h2 {
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: $dark-light;
  margin-bottom: 30px;

  @include rwd(414) {
    font-size: 40px;
  }

  @include xl {
    font-size: 50px;
    margin-bottom: 55px;
  }

  strong {
    font: inherit;
    color: $accent;
  }
}

h3 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $dark-light;

  @include rwd(414) {
    font-size: 23px;
  }

  @include xl {
    font-size: 33px;
  }

  strong {
    font: inherit;
    color: $accent;
  }
}

h4 {}

h5 {
  margin-top: 24px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  display: block;
  margin-bottom: 20px;
  line-height: 1.4;

  @include rwd(414) {
    font-size: 20px;
  }

  @include xl {
    font-size: 24px;
    margin-bottom: 30px;

  }
}

h3+p {
  margin-top: 10px;
}

h2+h5 {
  margin-top: -6px;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.69;
}

a {
  font-size: 16px;
  font-style: italic;
  line-height: normal;
  color: $accent;

  &:hover {
    color: $accent-light;
  }
}

sup {
  font-size: 100%;
}